@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-dark: #171717;
    --main-green: #00a37d;
    --gray: #212121;
    --light-gray: #828282;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    color: #fff;
    margin: 2% 10% 0 10%;
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--main-green);
    text-decoration: underline;
}

nav ul li input[type="checkbox"] {
    display: none;
}

nav ul li img {
    width: 30px;
    cursor: pointer;
}

#brazil-flag {
    display: none;
}

.highlight {
    color: var(--main-green);
}

main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7em;
}

main #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #intro h1 {
    font-size: 4em;
    width: 75%;
}

main #intro p {
    color: var(--main-green);
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-decoration: underline;
}

main #intro button {    
    background: transparent;
    border: 3px solid var(--main-green);
    border-radius: 35px;
    color: var(--main-green);
    cursor: pointer;
    font-weight: 600;
    padding: 15px 30px;
    position: absolute;
}

main #my-picture img {
    border-radius: 50%;
    width: 350px;
}

#about-me h2 {
    font-size: 2em;
    margin-bottom: .2em;
    text-align: center;
}

#about-me p {
    text-align: justify;
    margin: 0 10%;
}

#contact ul {
    display: flex;
    list-style: none;
    margin-top: 2.3em;
    justify-content: center;
}

#contact ul li {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#contact ul li a{
    background-color: var(--gray);
    border-radius: 50%;
    margin-bottom: .5em;
    padding: 10px;
}

#contact ul li a img{
    width: 40px;
}

#contact p {
    color: var(--light-gray);
    margin-bottom: 8em;
}

#skills h2,
#projects h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

#skills-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 3em;
    margin: 0 auto;
    max-width: 800px;
}

#skills-box i {
    text-align: center;
    font-size: 5rem;
    color: #00a37d; 
}

#projects {
    margin-top: 8em;
}

#projects .item a img:hover {
    padding: 10px;
}

#projects #projects-carousel {
    margin-bottom: 2em;
}

footer {
    background-color: var(--gray);
    left: 0;
    margin-top: 10em;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}